.body {
    background-color: aqua;
    text-align: center;
   
}
.container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: larger;
}

