@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.App {
  text-align: center;
  font-family: 'Inter',sans-serif !important;
}
body {
  margin: 0px;
  padding: 0px;
}
